*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: Arial, sans-serif;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:#0f172a;
}

.container{
    width:100000px;
    height:945px;
    display:flex;
    overflow:hidden;
    box-shadow:0 0 20px rgba(0,0,0,0.5);
}

.left{
    width:45%;
    background:linear-gradient(135deg,#2563eb,#1d4ed8,#1e3a8a);
    clip-path:polygon(0 0,100% 0,75% 100%,0 100%);
    display:flex;
    align-items:center;
    padding:40px;
    color:white;
}

.left-content h1{
    font-size:60px;
    margin-bottom:15px;
}

.left-content p{
    font-size:40px;
    line-height:1.5;
}

.right{
    width:55%;
    background:#111827;
    display:flex;
    justify-content:center;
    align-items:center;
}

.login-box{
    width:80%;
    color:white;
}

.login-box h2{
    text-align:center;
    font-size:50px;
    margin-bottom:40px;
}

.input-group{
    position:relative;
    margin-bottom:25px;
}

.input-group input{
    width:100%;
    background:transparent;
    border:none;
    border-bottom:2px solid #555;
    padding:12px 40px 12px 5px;
    color:white;
    font-size:16px;
    outline:none;
}

.input-group i{
    position:absolute;
    right:10px;
    top:12px;
    color:#ccc;
}

button{
    width:60%;
    padding:15px;
    border:none;
    border-radius:30px;
    background:linear-gradient(to right,#2563eb,#1d4ed8);
    color:white;
    font-size:18px;
    font-weight:bold;
    cursor:pointer;
    transition:.3s;
    display:block;
    margin:0 auto;
}

button:hover{
    transform:scale(1.03);
}