*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    background-color: black;
    color: white;

}

.logo{
    width: 120px;
    
}

aside > div{
    width: 200px;
    background: linear-gradient(135deg, #061b80, #1d4fdf);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.menu{
    margin-top: 10px;
    width: 100%;

}

.menu ul li {
    list-style: none;
    display: flex;
    align-content: center;
}

.menu a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    display: block;
    padding: 10px;
}

.buttom {
    margin-top: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 30px;

}

.buttom button {
    width: 160px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color:#061b80;
    font-size: 1.2rem;
    border-radius: 80px;
}

.sair {
    background-color: #9d301c;
    
}


.menu-item{
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}
main {
    margin-left: 200px;
}

main div{
    padding-left: 20px;
}

.bem-vindo{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}

.bem-vindo p{
    font-size: 1.3rem;
    width: 65%;
    line-height: 25px;
}

.selecionado a{
    color: #ffffff;
    background: linear-gradient(135deg, #1d4fdf, #061b80);
    padding-right: 100%;
    height: 40px;
    align-content: center;
}

.perfil{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: end;
    cursor: pointer;
    padding: 10px 10px;
    
}

.perfil img{
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.perfil a{
    text-decoration: none;
    color: white;
    font-size: 1rem;
}

hr{
    margin: 20px 0;
    border: none;
    border-top: 1px solid #ccc  ;
}

.produto{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-top: 10px;
    width: 120px;
    padding: 10px 10px;
    justify-content: center;
        
        background: rgba(172, 174, 180, 0.356); 
  
  /* 2. O Efeito de Vidro Fosco (Crucial) */
    backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Suporte para Safari */
  
  /* 3. Borda Fina e Levemente Transparente */
    border: 1px solid rgba(255, 255, 255, 0.445);
  
  /* 4. Arredondamento e Espaçamento interno */
    border-radius: 16px;
    padding: 10px;  
  /* 5. Sombra suave para dar profundidade */
    box-shadow: 0 8px 32px 0 rgba(114, 114, 114, 0.233);
  
  /* Mantém o comportamento interno correto */
    color: #ffffff;
    box-sizing: border-box;
    position: relative;
    }
.produto img{
    width: 100px;

    border-radius: 5px;
}

.und{
    padding-left: 0;
    width: 85px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.produto-box{
    display: flex;
    gap: 20PX;
}


.atividade{
    display: flex;
    align-items: center;
    gap: 10px;
    /* 1. Fundo Escuro e Semitransparente */
    background: rgba(172, 174, 180, 0.356); 
  
  /* 2. O Efeito de Vidro Fosco (Crucial) */
    backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px); /* Suporte para Safari */
  
  /* 3. Borda Fina e Levemente Transparente */
    border: 1px solid rgba(255, 255, 255, 0.445);
  
  /* 4. Arredondamento e Espaçamento interno */
    border-radius: 16px;
    padding: 10px;  
  /* 5. Sombra suave para dar profundidade */
    box-shadow: 0 8px 32px 0 rgba(114, 114, 114, 0.233);
  
  /* Mantém o comportamento interno correto */
    color: #ffffff;
    box-sizing: border-box;
    position: relative;
}

.atividade img{
    width: 35px;
}

.atividade-box{
    padding-top: 10px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    gap: 20px;
    padding-right: 10px;
}