<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Cadastro</title>

<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>

<div class="container">

    <div class="left">
        <div class="left-content">
            <h1>CRIAR CONTA</h1>
            <p>
                Cadastre-se para acessar o sistema de estoque.
            </p>
        </div>
    </div>

    <div class="right">
        <div class="login-box">

            <h2>CADASTRO</h2>

            <form action="{{ url_for('cadastro') }}" method="POST">

                <div class="input-group">
                    <input type="text" name="nome" placeholder="Nome Completo" required>
                    <i class="fa-solid fa-user"></i>
                </div>

                <div class="input-group">
                    <input type="email" name="email" placeholder="Email" required>
                    <i class="fa-solid fa-envelope"></i>
                </div>

                <div class="input-group">
                    <input type="text" name="matricula" placeholder="Matrícula" required>
                    <i class="fa-solid fa-id-card"></i>
                </div>

                <div class="input-group">
                    <select name="funcao" required>
                        <option value="">Selecione a função</option>
                        <option value="Administrador">Administrador</option>
                        <option value="Operador">Operador</option>
                        <option value="Usuário">Usuário</option>
                    </select>
                </div>

                <div class="input-group">
                    <input type="password" name="senha" placeholder="Senha" required>
                    <i class="fa-solid fa-lock"></i>
                </div>

                <button type="submit">
                    CADASTRAR
                </button>

            </form>

        </div>
    </div>

</div>

</body>
</html>