<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Maker Room</title>
</head>
<body>
    
    <main>
        <div class="perfil">
            <img src="{{url_for('static', filename='perfil.png')}}" alt="">
            <div class="profile-name">Renatão Silva</div>
        </div>

        <div class="bem-vindo">
            <h1>BEM-VINDO</h1>
            <div><p>Painel central de gerenciamento e controle de equipamentos. Monitore em tempo real o status operacional de cada dispositivo, acompanhe sua atribuição aos usuários, visualize o histórico completo de utilização e mantenha o controle do estoque de forma organizada, garantindo mais eficiência, rastreabilidade e segurança nos processos.</p></div>
        </div>

        <hr>
        <div >
            <h2>ÚLTIMOS PRODUTOS ADICIONADOS</h2>
            <div class="produto-box"> 
                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                
            </div>
        </div>
        <hr>

        <div>
            <h2>ATIVIDADES RECENTES</h2>

            <div class="atividade-box">
                <div class="atividade"> 
                    <img src="{{url_for('static', filename='perfil.png')}}" alt="">
                    <div>
                        <h3>Renatão Silva</h3>
                        <p>Desativou ARDUINO</p>
                    </div>
                </div>

                <div class="atividade"> 
                    <img src="{{url_for('static', filename='perfil.png')}}" alt="">
                    <div>
                        <h3>Mariana Costa</h3>
                        <p>Adicionou SENSOR ULTRASSÔNICO</p>
                    </div>
                </div>

                <div class="atividade"> 
                    <img src="{{url_for('static', filename='perfil.png')}}" alt="">
                    <div>
                        <h3>Lucas Almeida</h3>
                        <p>Atualizou o estoque de LED RGB</p>
                    </div>
                </div>

                <div class="atividade"> 
                    <img src="{{url_for('static', filename='perfil.png')}}" alt="">
                    <div>
                        <h3>Fernanda Souza</h3>
                        <p>Removeu DISPLAY LCD</p>
                    </div>
                </div>

                <div class="atividade"> 
                    <img src="{{url_for('static', filename='perfil.png')}}" alt="">
                    <div>
                        <h3>Carlos Henrique</h3>
                        <p>Ativou PROTOBOARD</p>
                    </div>
                </div>

                <div class="atividade"> 
                    <img src="{{url_for('static', filename='perfil.png')}}" alt="">
                    <div>
                        <h3>Ana Paula</h3>
                        <p>Atualizou o estoque JUMPERS</p>
                    </div>
                </div>

                <div class="atividade"> 
                    <img src="{{url_for('static', filename='perfil.png')}}" alt="">
                    <div>
                        <h3>João Victor</h3>
                        <p>Desativou SERVO MOTOR</p>
                    </div>
                </div>

                <div class="atividade"> 
                    <img src="{{url_for('static', filename='perfil.png')}}  " alt="">
                    <div>
                        <h3>Beatriz Lima</h3>
                        <p>Cadastrou RELÉ</p>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div>
            <h2>ALERTA DE ESTOQUE BAIXO</h2>
            <div class="produto-box"> 
                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>

                <div class="produto">
                    <img src="{{url_for('static', filename='arduino.jpeg')}}"" alt="efawe">
                    <h3>ARDUINO</h3>
                    <div class="und"><p>UND</p> <p>10</p></div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>