<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Login</title>
<body>

<div class="container">

    <div class="left">
        <div class="left-content">
            <h1>BEM-VINDO!</h1>
            <p>
                Faça login para acessar todas as funcionalidades
                disponíveis.
            </p>
        </div>
    </div>

    <div class="right">
        <div class="login-box">
            <h2>LOGIN</h2>

            <div class="input-group">
                <input type="email" placeholder="Email">
                <i class="fa-solid fa-envelope"></i>
            </div>

            <div class="input-group">
                <input type="password" placeholder="Senha">
                <i class="fa-solid fa-lock"></i>
            </div>

            <a href="'cadastrar'" class="cadastrar">Não tem uma conta? Cadastre-se</a>

            <button>ENTRAR</button>
        </div>
    </div>

</div>

</body>
</html>